{% extends TEMPLATE_BASE %}
{% block title %}Confirm Vote{% endblock %}

{% block content %}
<h1>{{election.name}} &mdash; Vote Successfully Cast!</h1>

<p>
    Congratulations, your vote has been <b><u>successfully cast</u></b>!
</p>

{% if vote_hash %}
<p>
  Your smart ballot tracker is:<br /><br />
    <tt style="font-size:1.8em; font-weight: bold; padding-left: 20px;">  {{vote_hash}}</tt>
</p>
{% endif %}

{% if logout %}
<p><b>For your safety, we have logged you out.</b></p>
<iframe width="0" height="0" border="0" frameborder="0" src="{% url "auth@logout" %}">
</iframe>
{% endif %}

<p style="font-size: 1.4em;">
[ <a href="{% url "election@view" election.uuid %}">return to election info</a> ]
</p>

{% endblock %}
